/* ========== Css variables ========== */

:root {
  --primary-c-light: #ffffff;
  --primary-c-dark: #011c44;
  --accent-c: #2b7fff;
  --secondary-c-light: #4a4a4a;
  --secondary-c-dark: #000000;
  --secondary-c-grey: #747272;
}

/* ========== Css variables ========== */