/* ========== Benefits section ==========  */
.benefits-section {
  padding-top: 176px;
}
.benefits-section .section-title,
.procedure-section .section-title,
.contacts-section .section-title {
  margin-bottom: 48px;
}
.benefits-container {
  padding: 0 72px;
}
.benefits-title {
  max-width: 441px;
  margin: 0 auto;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}
.benefits-list-item {
  flex-basis: calc((100% - 112px) / 3);
}
.benefits-card {
  padding: 24px 32px;
  border: 1px solid lightgray; /* remove */
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: #fff;
}
.benefits-list-text {
  line-height: 1.33;
  text-align: center;
  color: var(--secondary-c-dark);
}
/* ========== Benefits section ==========  */