/* ========== Form ========== */
.modal-title {
  color: var(--primary-c-light);
  margin-bottom: 40px;
}
.form-text {
  max-width: 276px;
  margin: 0 auto 32px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: var(--primary-c-light);
}
.form-field {
  margin-bottom: 24px;
}
.form-input {
  padding: 18px 32px;
  width: 100%;
  font-size: 13px;
  color: var(--primary-c-light);
  background-color: transparent;
  border: 2px solid var(--secondary-c-grey);
  border-radius: 32px;
}
.form-input:focus {
  background-color: var(--secondary-c-grey);
  outline: none;
}
.form-input::placeholder {
  color: var(--primary-c-light);
  font-size: 13px;
}
.form-terms {
  margin: 0 auto;
  max-width: 209px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-c-grey);
}
/* ========== Form ========== */