.benefits-card {
  padding: 24px 32px;
  border: 1px solid lightgray; /* remove */
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: #fff;

  &__text {
    line-height: 1.33;
    text-align: center;
    color: var(--secondary-c-dark);
  }
}
